.input {
    box-shadow: 0px 4px 17px 3px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    position: relative;
    padding: 10px 55px 10px 30px;
    border: none;
    background: #fff;
    margin-right: 15px;
    color: rgb(70, 70, 70);
}

.input:focus {
    border-radius: 10px;
    box-shadow: inset 4px 4px 10px -3px rgba(0, 0, 0, 0.25);
    background: rgb(250, 250, 250);
}

.input:focus-visible{
    outline: none;
}