@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background: rgb(15,15,15);
    color: #f1f1f1;
  }
  
  .container {
    display: grid;
    grid-template-rows: 68px 1fr;
    grid-template-columns:255px  1fr; 
    grid-template-areas:
      "header header"
      "sidebar mainContent";
  }
  
  
  .header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
  }
  
  .sidebar {
    grid-area: sidebar;
    word-break: break-all;
    position: fixed;
    top: 20px;
    max-width: 255px;
    left: 20px;
  }
  
  .mainContent {
    grid-area: mainContent;
    margin-left: 20px;
    max-width: 1720px;
    width: 90%;
  }