.mainContent {
    margin-left: auto !important;
    margin-right: auto;
}

.video iframe{
    max-width:  90%;
    border-radius: 20px;
}

.title {
    font-size: 24px;
    font-weight: 600;
}

.avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.userSection {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 90%;
    width: 100%;
}

.userSection h3 {
    font-weight: 600;
}

.subs {
    color: #9e9e9e;
    font-size: 13px;
}

.subscribe__button {
    padding: 2px 12px;
    background-color: #fff;
    color: #000;
    border-radius: 20px;
}

.likes_count {
    background-color: #3E3E3E;
    display: flex;
    align-items: center;
    border-radius: 15px;
}

.likes_count button {
    padding: 3px 10px;
}

.likes_count button span {
    border-right: 1px solid gray;
    margin-left: 10px;
    padding-right: 5px;
}
.dowload__video {
    background-color: #3E3E3E;
    display: flex;
    align-items: center;
    border-radius: 15px;
    padding-right: 10px;
}

.loader {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}