/* *,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

/* body {
  font-family: "Roboto", sans-serif;
  background-color: #0f0f0f;
  height: 100vh;
  color: white;
  display: flex;
  overflow: hidden;
} */

.sideBar {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.menu_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  cursor: pointer;
  border-radius: 50%;
}

.menu_btn:hover {
  background-color: #272727;
}

.sidebar_items {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: absolute;
  top: 40px;
  left: 0;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 2px;
  border-radius: 8px;
  cursor: pointer;
}

.item:hover {
  background-color: #272727;
}

.item img {
  width: 24px;
  height: 24px;
  margin-bottom: 6px;
}
.item span {
  font-size: 11px;
}

#menu {
  width: 240px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgb(15,15,15);
  padding: 16px 12px;
  display: flex;
  flex-direction: column;
  transform: translateX(-100%);
  transition: transform 0.5s ease;
  z-index: 10;
}

#menu.visible {
  transform: translateX(0);
}

.menu_header {
  display: flex;
  align-items: center;
  padding-left: 20px;
  gap: 18px;
  margin-bottom: 20px;
}

.menu_group {
  padding: 16px 0;
  border-block: 1px solid #3f3f3f;
}

.menu_item {
  font-size: 14px;
  display: flex;
  align-items: center;
  padding: 10px 12px;
  border-radius: 10px;
  cursor: pointer;
  gap: 10px;
}

.menu_item:hover {
  background-color: #272727;
}


nav {
  width: 100%;
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 16px;
}


.leftHeader {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.leftHeader img {
  max-height: 24px;
  display: inline;
}

.leftHeader svg {
  display: inline;
  padding: 8px;
  cursor: pointer;
  border-radius: 50%;
}

.leftHeader svg:hover {
  background-color: #272727;
}